In [102]:
import numpy as np
import pandas as pd

In [103]:
np.random.seed(1)
n = 1000
dates = pd.date_range(start='2045-01-01', periods=n, freq='D')
products = ['Tablet', 'Camera', 'Phone']
prices = np.round(np.random.uniform(50, 200, n), 2)
quantities = np.random.randint(1, 15, n)
data = {
    'date': dates,
    'product': np.random.choice(products, n),
    'price': prices,
    'quantities': quantities,
}

In [104]:
df = pd.DataFrame(data)
df.head()

        date product   price  quantities
0 2045-01-01   Phone  112.55          14
1 2045-01-02  Tablet  158.05           8
2 2045-01-03   Phone   50.02           7
3 2045-01-04  Camera   95.35           8
4 2045-01-05   Phone   72.01          13

In [105]:
df.to_csv('random_sales.csv', index=False)

In [115]:
new_df = pd.read_csv('random_sales.csv', parse_dates=['date'])  # also we could reassign variable df
new_df

          date product   price  quantities
0   2045-01-01   Phone  112.55          14
1   2045-01-02  Tablet  158.05           8
2   2045-01-03   Phone   50.02           7
3   2045-01-04  Camera   95.35           8
4   2045-01-05   Phone   72.01          13
..         ...     ...     ...         ...
995 2047-09-23  Camera  196.16           5
996 2047-09-24  Tablet   96.76           6
997 2047-09-25   Phone  150.32          10
998 2047-09-26   Phone   98.90           6
999 2047-09-27  Tablet  166.17           3

[1000 rows x 4 columns]

In [ ]:
df.to_excel('sales_data.xlsx') # excel

In [ ]:
df.to_json('sales_data.json')  # json